/* Update your Product.css file */
.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7; /* Lighter border color */
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
    margin: 10px;
    padding: 10px;
    flex: 0 0 calc(25% - 20px); /* Set 4 per row with margin in between */
  }

.product:hover {
    transform: scale(1.02); /* Subtle scale effect on hover */
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.product-details {
    padding: 16px;
}

.product-title {
    font-size: 1rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 4px;
}

.product-detail-reviews {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.85rem;
    margin-top: 4px;
}

.product-detail-rating {
    color: #ffa41c;
    margin-right: 4px;
}

.product-review-count {
    color: #555;
}

.product-brand {
    color: #565959;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.product-price {
    font-size: 1.24rem;
    color: #B12704;
    font-weight: 700;
    margin-bottom: 8px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}
