
.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
    margin: 5px; 
    padding: 10px;
    height: 500px; 
    width: 350px; 
}

.product:hover {
    transform: scale(1.02); 
}

.product-image {
    height: 250px;
    width: 100%; 
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product-details {
    padding: 16px;
    flex-grow: 1;
}

.product-title {
    font-size: 1rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-detail-reviews {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.85rem;
    margin-top: 4px;
}

.product-detail-rating {
    color: #ffa41c;
    margin-right: 4px;
}

.product-review-count {
    color: #555;
}

.product-brand {
    color: #565959;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.product-price {
    font-size: 1.24rem;
    color: #B12704;
    font-weight: 700;
    margin-bottom: 8px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}
