/* Navigation Container */
.navbar {
    background-color: #232f3e;
    padding: 10px 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make the container take up the full width */
  }
  
  .nav-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto; /* Push the logo all the way to the left */
  }
  
  .nav-search {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    flex-grow: 1;
  }
  
  .search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    max-width: 250px;
  }
  
  .search-button {
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; /* Add this to create spacing between search bar and button */
  }
  
  .search-button:hover {
    background-color: #ff6600;
  }
  
  .nav-account {
    display: flex;
    align-items: center;
  }
  
  .account-dropdown {
    position: relative;
    margin-right: 10px;
  }
  
  .account-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .account-dropdown:hover .account-dropdown-content {
    display: block;
  }
  
  .account-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
  }
  
  .account-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .cart-button {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .cart-button i {
    margin-right: 5px;
  }
  
  .nav-dropdown {
    position: relative;
    margin-right: 10px;
  }
  
  .dropdown-btn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }
  
  .nav-dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  